body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: rgba(24, 25, 24, 0.77);
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 350px;
  height: 60px;
  margin: 20px;
  font-size: 40px;
  background-image: linear-gradient(rgba(215, 232, 214, 0.8), rgba(163, 219, 155, 0.8));
}

button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: bolder;
  color: black;
}

button:nth-of-type(16) {
  background-color: orange;
  color: white;
  width: 210px;
}

button:nth-of-type(17) {
  background-color: red;
  color: white;

}
